@import 'mixin', 'var';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(253, 50%, 63%);
    height: 100vh;
}
// sauluke
.sun{
    height: 15%;
    position: relative;

    &::before{
        content: "";
        @include round;
        background-color: hsl(60, 100%, 50%);
        box-shadow: 0 0 25px rgb(255, 255, 71);
        position: absolute;
        bottom: 50%;
        right: 70%;
        transform: translate(50%, 50%);
        animation-name: gogo;
        animation-duration: 2s;
        animation-timing-function: linear;

        @keyframes gogo {
            0%{
                top: 15%;
                right: 110%;
            }
  
            100% {
                top: 15%;
                right: 70%;
            }
        }

    }
}
// tekstas
h1{
  color: $textColor;
  @include flexCenter;
  align-items: flex-start;
  height: 35%;
  padding: 5rem;
  font-size: 76px;
  animation: kuku 4s;

  @keyframes kuku {
    0%{
        opacity: 0;
    }
    50%{
        padding: 0;
        opacity: 0;
        font-size: 5px;
    }
    100%{
        opacity: 1;
    }
  }
}
// gelyciu dirva
.flowers{
    @include flexCenter;
    height: 50%;
    width: 100%;
// pirma gelyte
    .flowerone{
        height: 18rem;
        width: 6px;
        background-color: $stemcolor;
        position: relative;
        animation: goup 2s 0.5s ease-in-out forwards;

        @keyframes goup {
            0%{
                max-height: 1%;
            }
            100%{
                max-height: 100%;
            }
        }

        &::before{
            content: "";
            @include round;
            background-color: hsl(265, 57%, 36%);
            position: absolute;
            bottom: 102%;
            right: 50%;
            transform: translate(50%, 50%);
            animation: pump 3s 0.5s ease-in-out infinite alternate;

            @keyframes pump {
                0%{
                    right: -530%;
                    transform: scale(1.0);
                }
                100%{
                    right: -530%;
                    transform: scale(1.1);
                }
            }
        }
        &::after{
            content: "";
            @include leaf;
            bottom: 60%;
            background-color: $leafcolor;
        }
    }
// antra gelyte
    .flowertwo{
        height: 22rem;
        width: 6px;
        background-color: $stemcolor;
        position: relative;
        animation: goup 2s 0.5s ease-in-out forwards;

        @keyframes goup {
            0%{
                max-height: 1%;
            }
            100%{
                max-height: 100%;
            }
        }
        &::before{
            content: "";
            @include round;
            background-color: hsl(312, 61%, 42%);
            position: absolute;
            bottom: 100%;
            right: 50%;
            transform: translate(50%, 50%);
            animation: pump 1s 0.5s ease-in-out infinite alternate;

            @keyframes pump {
                0%{
                    bottom: 90%;
                    right: -530%;
                    transform: scale(1.0);
                }
                100%{
                    bottom: 90%;
                    right: -530%;
                    transform: scale(1.1);
                }
            }
        }
        &::after{
            content: "";
            @include leaf;
            bottom: 70%;
            background-color: $leafcolor;
        }
    }
}